html
{
	background-image: url("background.jpg");
}

body 
{
	min-width: 200px;
	max-width: 300px;
	min-height: 200px;
	max-height: 300px;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#top_half_container
{
}

#bottom_half_container
{
}

#title_id
{
	font-size: 8vw;
	font-weight: bold;
}

#icon_div
{
	top: -4vw;
	background-color: transparent;
}

#icon_pic
{
	width: 20vw;
	height: 20vw;
}

#product_div
{
	bottom: 4vw;
}

#product_label
{
	font-size: 6vw;
}

div.center
{
	text-align: center;
	position: relative;
}

div.dotted
{
	border: 1vw black;
	border-style: none none dashed;
	color: black;
	background-color: #fff;
	padding-bottom: 5vw;
}